<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9FKzvdLOpsnGUvkn1GZTqpCi-awp6Onc</string>
	<key>GCM_SENDER_ID</key>
	<string>445701084344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.leafycamera</string>
	<key>PROJECT_ID</key>
	<string>leaf-fa3b1</string>
	<key>STORAGE_BUCKET</key>
	<string>leaf-fa3b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445701084344:ios:bed5e7c533bdc9d91bd04d</string>
</dict>
</plist>